.header {
  height: 10rem;
  padding-top: 1.8rem;
  box-shadow: 0 1px 20px rgba($color-black, .4);
  width: 100%;
  background-color: $color-white;
  position: fixed;
  z-index: 2;
}

.header__logo {

  ul {
    padding-left: 5.5rem;
    li {

      &:last-child {
        @media only screen and(max-width: 1200px) {
          display: none;
        }
      }
      a {
        color: $color-black;
        font-size: $main-fz;
        font-weight: $fw-semiBold;
        display: inline-block;
        padding-left: 2rem;
        text-decoration: none;
      }
      &:first-child {

        a {
          @include backimg;
          background-image: url("/public/Moh/src/img/moh-logo.png");
          width: 6.8rem;
          height: 6.5rem;
        }
      }
    }
  }
}

.language {
  padding-right: 50px;

}

.header__navigation {
  margin-right: 7rem;

  li {
    padding: 1.8rem;

    a {
      text-decoration: $td-none;
      color: $color-hex-gray;
      font-size: $small-fz;
      font-weight: $fw-semiBold;
      text-transform: uppercase;
      transition: 0.2s;

      &:hover {
        color: $main-btn-color;

      }
    }
  }
}

