.announcement-container {

  .announcement__content {
    max-width: $main-content-width;
    margin: auto;

    .pdf__text {

      .pdf__text {

        ul {
          padding-top: 10px;

        }
      }
    }
  }
}