//BACKGROUND

@mixin backimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

//BORDER

@mixin border($border-color) {
  border: 1px solid $border-color;
}

//MAIN WIDTH

@mixin mainWidth($marginAuto: auto) {
  max-width: $main-content-width;
  margin: $marginAuto;
}

//ARROWS

@mixin arrows {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
}

//  TEXT OVERFLOW ELLIPSES

  @mixin ellipses($elheight, $row) {
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: $elheight;
    -webkit-line-clamp: $row;
  }