//WIDTH
$main-width: 160rem;
$main-content-width: 73.5%;
$max-width: 100%;

//COLORS

$main-color: #4D4D4D;
$color-hex-gray: #333333;

$section-back-color: #F6F6F6;

$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #CCCCCC;
$color-blue: #0071BC;

$main-btn-color: #FFBC35;

//FONT-WEIGHT

$fw-semiBold: 600;
$fw-bold: bold;
$fw-lighter: lighter;


//FONT-SIZE

$main-fz: 1.6rem;
$fz-big: 5rem;

//FONT-SIZE FOR HTML


//TEXT DECORATION

$td-none: none;