//Main content size 1400px

.main__cont__size {
  max-width: $main-content-width;
  margin: auto;
}

//Add class in ul and li will be zebra :)

.background__zebra > li:nth-child(even) {
  background-color: $section-back-color;
}

.background__zebra > li:nth-child(even).multicolor .multicolor-container > a {
  color: $color-blue;
}

.background__zebra > li:nth-child(odd).multicolor .multicolor-container > a {

  color: $main-btn-color;
}

.margin-auto {
  @media only screen and (max-width: 991px) {
    margin: auto;
  }
}

.pdf__year {
  line-height: 0.9;

  span {
    font-size: $tertiary-header;
    color: $main-color;
    font-weight: 100;

    @media only screen and (max-width: 600px) {
      font-size: $main-fz;
    }
  }
}

// Large size of year container in pdf info
.pdf__year--large {
  width: 15%;

  @media only screen and (max-width: 1024px) {
    width: 16%;
  }
  @media only screen and (max-width: 768px) {
    width: 22%;
  }
  @media only screen and (max-width: 600px) {
    width: 40%;
  }

}

// Small size of year container in pdf info
.pdf__year--small {
  width: 6%;
  @media only screen and (max-width: 1024px) {
    width: 7%;
  }
  @media only screen and (max-width: 991px) {
    width: 11%;
  }
  @media only screen and (max-width: 320px) {
    width: 19%;
  }
}

.color-yellow {
  color: $main-btn-color !important;
}

.yellow-border {
  border-bottom: 1px solid $main-btn-color !important;
}

.color-blue {
  color: $color-blue !important;
}

.blue-border {
  border-bottom: 1px solid $color-blue !important;
}

//different backgrounds

.yellow--background {
  background-color: $main-btn-color;
}

.blue--background {
  background-color: $color-blue;
}

.gray--background {
  background-color: #a9a7a7;
}

.white--background {
  background-color: white;

  @media only screen and (max-width: 480px){
    margin-left: 10px!important;
  }
}

.editor-content ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 40px;
  font-weight: normal !important;
}
.editor-content ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 40px;
  font-weight: normal !important;
}