.minister__staff {

  &--container {

    &--width {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: stretch;
      max-width: $main-content-width;
      margin: auto;
      padding: 6rem 0;

      .workers__info {
        -webkit-flex: 50%;
        -ms-flex: 50%;
        flex: 50%;
        display: flex;
        //cursor: pointer;

        &--image {
          @include backimg();
          height: 40rem;
          -webkit-flex: 45%;
          -ms-flex: 45%;
          flex: 45%;
        }

        &--content {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          -webkit-flex: 57%;
          -ms-flex: 57%;
          flex: 57%;

          padding: 7px 1.8rem;

          &--names {

            h1 {
              font-size: 2.6rem;
              color: $main-color;
              text-transform: uppercase;
            }
            a {
              font-size: 4.8rem;
              text-transform: uppercase;
              color: $color-blue;
              display: inline-block;
              text-decoration: none;
            }
          }

          .worker__number__email {

            li {
              display: flex;
              align-items: center;

              i {
                width: 35px;
                height: 35px;
                display: inline-block;
                margin-right: 1rem;
              }

              .call-icon {
                @include backimg;
                background-image: url("../img/call-icon-yellow.png");
              }

              .message-icon {
                @include backimg;
                background-image: url("../img/message-icon-blue.png");
              }

              span {
                font-size: 2.6rem;
                color: $main-color;
              }

              &:not(:last-child) {
                padding-bottom: 1rem;
              }
            }
          }
        }
      }

      &--width > div:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &:nth-child(even) {
      background-color: $section-back-color;
    }
  }

  .workers__container {
    max-width: $main-content-width;
    margin: auto;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    padding-bottom: 5rem;
    border-bottom: 1px solid $main-btn-color;

    &--header {
      padding: 5rem 0;

      h1 {
        font-size: 4.8rem;
        color: $color-blue;
      }
    }

    &--info {
      list-style: none;
      counter-reset: my-awesome-counter;
      li {
        counter-increment: my-awesome-counter;
        font-size: 1.8rem;
        position: relative;
        padding-left: 4rem;
        margin-bottom: 2rem;

        &:before {
          content: counter(my-awesome-counter);
          font-size: 5rem;
          font-weight: $fw-lighter;
          margin-right: 0.5rem;
          color: $main-btn-color;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }

    &--name {

      h1 {
        text-align: right;
        font-size: 1.8rem;
      }
    }

  }

  .workers__container-1,
  .workers__container-2,
  .workers__container-3,
  .workers__container-4{
    display: none;
  }

}