.videos {

  .videos__row {
    @include mainWidth;
    padding-top: 40px;

    .video__content {
      margin: 10px 0;
      &--header {
        margin-bottom: 10px;
        h1 {
          font-size: $main-fz;
          text-transform: uppercase;
        }
      }
      &--date {
        p {
          font-size: $small-fz;
          text-transform: uppercase;
        }
      }
    }
  }
}