.animated__button {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    transition: all .3s;
    backface-visibility: hidden;
    position: relative;
    font-size: $main-fz;
    outline: none;
    height: 4.8rem;
    width: 20rem;
    font-weight: $fw-semiBold;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    color: $color-black;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
  }

  &--yellow {

    background-color: $main-btn-color;
    color: $color-black;

    &::after {
      background-color: $main-btn-color;
      color: $color-black;
    }
  }

  &--blue {

    background-color: $section-back-color;
    color: #0071BC;
    border: 2px solid #0071BC;
    margin-left: 4rem;

    &::after {
      background-color: #0071BC;
      color: $color-white;
    }
    &:hover {
      background-color: #0071BC;
      color: $color-white;
    }
  }

  &--yellow-small {

    height: 4rem!important;
    margin: auto;
    background-color: #CCCCCC;
    color: white;

    &::after {
      background-color: $main-btn-color;
      color: $color-black;
    }
  }
}
