.all__news {

  .all__news--row {
    @include mainWidth;
    padding: 40px 0;

    .all__news--image {
     @include backimg;
     height: 226px;
     width: 100%;
    }

    .all__news--date {

      span{
        color: $main-btn-color;
        font-size: $tertiary-header;
        text-transform: uppercase;
        display: inline-block;
        @include ellipses(76px, 2);

        @media only screen and (max-width: 991px){
          @include ellipses(32px, 1);
        }
      }

      @media only screen and (max-width: 991px){
        margin-top: 8px;
      }
    }

    .all__news--header {
      padding: 15px 0 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $main-fz;
        color: $color-blue;
        @include ellipses(21px, 1)
      }
    }

    .all__news--short--description {
      @include ellipses(97px, 5);
      p {
        font-size: $small-fz;

        span {
          font-size: $small-fz!important;
        }
      }

      @media only screen and (max-width: 991px){
        margin-bottom: 8px;
      }
    }
  }
}