.all__announcement-container {

  .all__announcement--row {
    @include mainWidth;
    .all__announcement {
      padding: 10px;
      &--header {
        a {
          text-decoration: none;
          font-size: $secondary-header;
          font-weight: 100;
          color: $main-btn-color;
          height: 86px;
          overflow: hidden;

          @media only screen and (max-width: 991px){
            font-size: $tertiary-header;
          }

        }
      }
      &--date {

        p {
          font-size: $tertiary-header;
          color: $color-blue;

          @media only screen and (max-width: 991px){
            font-size: 2.4rem;
          }
        }
      }
      &--body {
        p {
          font-size: $main-fz;
          height: 124px;
          overflow: hidden;
        }
      }
    }
  }
}