.contact__us {


  &--info {
    max-width: $main-content-width;
    margin: 7rem auto;
    display: flex;
    align-items: stretch;

    @media only screen and (max-width: 1500px){
      max-width: 98%;
    }

    @media only screen and (max-width: 991px){
      display: block;
      margin: 3rem auto;
    }


    &--form {
      width: 65.5%;
      box-shadow: 2px 2px 28px #e9e9e9;
      padding: 10rem 10rem;
      margin-right: 10rem;

      @media only screen and (max-width: 1024px){
        width: 57.5%;
        margin-right: 3rem;
      }
      @media only screen and (max-width: 991px){
        width: 500px;
        margin:0 auto 2rem;
        padding: 3rem 3rem;
      }
      @media only screen and (max-width: 500px){
        width: 300px;
      }

      .contact__us--btns {
        margin-top: 4.5rem;

        /*a:not(:last-child) {
          margin-right: 2rem;
        }*/
      }
    }

    &--map {
      width: 32.5%;

      @media only screen and (max-width: 1024px){
        width: 39.5%;
      }
      @media only screen and (max-width: 991px){
        width: 100%;
      }

      #map {
        height: 100%;
        width: 100%;

        @media only screen and (max-width: 991px){
          width: 100%;
          height: 500px;
        }
      }

    }
  }

  &--cont {
    background-color: $section-back-color;

    &--text1 {
      max-width: $main-content-width;
      margin: auto;
      padding: 4rem 0;

      @media only screen and (min-width: 1921px){
        max-width: $main-content-width-big;
      }

      @media only screen and (max-width: 1500px){
        max-width: 98%;
      }
      h1 {
        font-size: $tertiary-header;
        font-weight: $fw-semiBold;
        padding-bottom: 2rem;
      }

      ul {

        li {
          font-size: $main-fz;
          margin-bottom: 2rem;

          a {
            color: $color-blue;
            font-weight: bold;
            position: relative;
            text-decoration: none;

            &.xls-file:after {
              content: '';
              background-image: url(/img/xls-blue-icon.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              position: absolute;
              top: 43%;
              right: -45px;
              transform: translateY(-50%);
              width: 39px;
              height: 43px;

            }
          }

        }

      }
    }
  }

  &--text2 {
    max-width: $main-content-width;
    margin: auto;
    padding: 4rem 0;

    @media only screen and (max-width: 1500px){
      max-width: 98%;
    }
    li {
      font-size: $main-fz;
      margin-bottom: 1rem;

      span {
        color: $color-blue;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        color: $color-blue;
        font-weight: bold;
      }
    }
  }
}