.workers__content {

  .min-worker {

    @media only screen and (max-width: 991px) {
        max-width: 100%;
    }
    @media only screen and (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

}

.workers__content > ul > li {

  &:nth-child(even) {

    background-color: $section-back-color;
  }
}

.min-worker-cont {
  @media only screen and(max-width: 991px){
    flex-wrap: wrap;
  }
}