.ministry__structure {
  max-width: 800px;
  margin: 50px auto;

  @media only screen and (max-width: 500px){
    width: 98%;
  }

  .ministry__structure--list {

    li {
      border-radius: 50px;
      margin-bottom: 10px;
      height: 40px;
      position: relative;
      p {
        color: white;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);

        @media only screen and (max-width: 480px){
          font-size: 1rem;
        }
      }

      h1 {
        color: white;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  .ministry__structure--list--right {

    li {
      height: 51px;
    }


  }
}