//.single__news {
//  max-width: $main-content-width;
//  margin: auto;
//  padding-top: 8rem;
//
//  @media only screen and (min-width: 1921px){
//    max-width: $main-content-width-big;
//  }
//
//  .news-slider {
//    .single__news--image {
//      @include backimg;
//      height: 312px;
//    }
//  }
//
//
//  &--info {
//    flex: 50%;
//    &--header {
//
//      h1 {
//        font-size: $secondary-header;
//        text-transform: uppercase;
//        font-weight: $fw-lighter;
//        padding-bottom: 1rem;
//      }
//    }
//
//    &--date {
//
//      h2 {
//        font-size: 2.2rem;
//        color: $color-blue;
//        font-weight: $fw-lighter;
//        padding-bottom: 1rem;
//      }
//    }
//
//    &--text {
//
//      p {
//        font-size: $main-fz;
//        padding-bottom: 1rem;
//        text-align: justify;
//      }
//    }
//  }
//}

.single__news {
  max-width: $main-content-width;
  margin: auto;
  padding-top: 8rem;

  @media only screen and (min-width: 1921px) {
    max-width: $main-content-width-big;
  }

  &--slider {
    float: right;
    width: 46%;
    margin: 0 0 34px 34px;
    .single__news--image {
      @include backimg;
      height: 350px !important;
      width: 100%;

    }
  }

  &--info {

    &--header {

      h1 {
        font-size: $secondary-header;
        text-transform: uppercase;
        font-weight: $fw-lighter;
        padding-bottom: 1rem;
      }
    }

    &--date {

      h2 {
        font-size: 2.2rem;
        color: $color-blue;
        font-weight: $fw-lighter;
        padding-bottom: 1rem;
      }
    }

    &--text {

      p {
        font-size: $main-fz;
        padding-bottom: 1rem;
      }
    }
  }
}