.legal__acts {

  &--container {


    &--form {
      background-color: #d6d6d6;

      form {
        @include mainWidth;

        }

        .form--content {
          width: 450px;
          margin: auto;
          padding: 25px 0;

          @media only screen and (max-width: 500px) {
            width: 96%;
          }

          input {
            height: 40px;
            outline: none;

            &:focus {
              box-shadow: none;
              border-color: #ced4da;
            }
          }

          label {
            font-size: $main-fz;
            text-transform: uppercase;
          }
        }
      }
    }

    .legal__acts--list {
      @include mainWidth;
      margin-top: 40px;

      @media only screen and (max-width: 1500px){
        max-width: 98%;

    }
  }
}