.burger__menu {
  position: absolute;
  right: 6rem;
  top: 2.2rem;
  cursor: pointer;
  &--lines {
      background: $main-color;
      width: 20px;
      height: 2px;
      margin: 5px 0;
      display: block;
      transition: 0.2s;
      //border: 1px solid #305288;
      border-radius: 10px;
  }
  .rotate-1 {
      transform: rotate(45deg);
      margin-top: 44%;
      transition: 0.3s;
  }
  .rotate-3 {
    transform: rotate(-45deg);
    margin-top: -7px;
    transition: 0.3s;
  }
}
