.slick-dots {
  bottom: 40px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $main-btn-color;
}
.slick-dots li button:before {
  font-size: 2.7rem;
  opacity: 1;
  color: $color-white;
}
.slick-dots li {
  margin: 0 1.1rem;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.prev-arrow {
  @include backimg;
  @include arrows;
  background-image:url("/img/arrow-light-left.png") ;
  left: -3rem;

  &:hover {
    background-image: url("/img/arrow-bold-left.png");
  }

  @media only screen and (max-width: 776px){
    display: none!important;
  }
}
.next-arrow {
  @include backimg;
  @include arrows;
  background-image: url("/img/arrow-light-right.png");
  right: -3rem;

  &:hover {
    background-image: url("/img/arrow-bold-right.png");
  }

  @media only screen and (max-width: 776px){
    display: none!important;
  }
}

.news-cont-prev,
.news-cont-next{
  bottom: 50%;
  @media only screen and (max-width: 991px) {
    bottom: 40%;
  }
}
.news-cont-prev {
  @media only screen and (max-width: 991px) {
    left: 6rem;
  }
}
.news-cont-next{
  @media only screen and (max-width: 991px) {
    right: 6rem;
  }
}


.announcements-prev,
.announcements-next,
.videos__background-prev,
.videos__background-next {
  bottom: 30%;
}

.videos__background-prev {

  @media only screen and (max-width: 991px){
    left: 5rem;
  }
}

.videos__background-next {

  @media only screen and (max-width: 991px){
    right: 5rem;
  }
}