.language {

  .select2-container {
    width: calculateRem-16(95px)!important;
    outline: none!important;
    font-size: calculateRem-16(12px);
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-transform: uppercase;
  }

}

.select2-dropdown {
  border: 1px solid transparent!important;
}

.language {
  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none!important;
    outline: none!important;
  }
}
.menu__language {
  position: absolute;
  right: 0;
  top: calculateRem-16(21px);
  padding-right: calculateRem-16(px);

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none!important;
    outline: none!important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $main-btn-color;
    line-height: 28px;
  }
}
.select2-results__option {
  font-size: calculateRem-16(12px);
}
