.header {
  height: 10rem;
  padding-top: 1.8rem;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 2; }

.header__logo ul {
  padding-left: 5.5rem; }
  @media only screen and (max-width: 1200px) {
    .header__logo ul li:last-child {
      display: none; } }
  .header__logo ul li a {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding-left: 2rem;
    text-decoration: none; }
  .header__logo ul li:first-child a {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/moh-logo.png");
    width: 6.8rem;
    height: 6.5rem; }

.language {
  padding-right: 50px; }

.header__navigation {
  margin-right: 7rem; }
  .header__navigation li {
    padding: 1.8rem; }
    .header__navigation li a {
      text-decoration: none;
      color: #333333;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: 0.2s; }
      .header__navigation li a:hover {
        color: #FFBC35; }

.subscription {
  background-color: #4E525B; }
  .subscription__content {
    max-width: 130rem;
    margin: auto;
    padding: 5rem 0 6rem; }
    .subscription__content--header h1 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: lighter;
      color: #FFFFFF;
      padding-bottom: 1rem; }
    .subscription__content--info a {
      color: #FFFFFF;
      font-size: 1.5rem; }

.footer__container--social {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .footer__container--social .footer--social li {
    position: relative;
    border: 2px solid #065BAA;
    width: 44px;
    height: 44px; }
    .footer__container--social .footer--social li:not(:last-child) {
      margin-right: 3rem; }
    .footer__container--social .footer--social li:hover {
      border-color: #FFBC35; }
    .footer__container--social .footer--social li a {
      display: block;
      width: 100%;
      height: 100%; }
      .footer__container--social .footer--social li a:hover .facebook--icon {
        background-position: -17px -213px; }
      .footer__container--social .footer--social li a:hover .youtube--icon {
        background-position: -2px -153px; }
      .footer__container--social .footer--social li a:hover .linkedin--icon {
        background-position: -2px -192px; }
      .footer__container--social .footer--social li a:hover .google--icon {
        background-position: -2px -21px; }
      .footer__container--social .footer--social li a:hover .twitter--icon {
        background-position: -2px -115px; }
      .footer__container--social .footer--social li a:hover .instagram--icon {
        background-position: -2px -42px; }
      .footer__container--social .footer--social li a i {
        display: inline-block;
        background: url("../img/social-icons.png") no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
        position: absolute; }
      .footer__container--social .footer--social li a .facebook--icon {
        background-position: -2px -213px;
        width: 13px;
        height: 23px;
        left: 35%;
        top: 23%; }
    .footer__container--social .footer--social li .youtube--icon {
      background-position: -2px -135px;
      width: 21px;
      height: 16px;
      left: 26%;
      top: 31%; }
    .footer__container--social .footer--social li .linkedin--icon {
      background-position: -2px -171px;
      width: 19px;
      height: 19px;
      left: 28.5%;
      top: 22%; }
    .footer__container--social .footer--social li .google--icon {
      background-position: -2px -0px;
      width: 30px;
      height: 19px;
      left: 16%;
      top: 26%; }
    .footer__container--social .footer--social li .twitter--icon {
      background-position: -2px -95px;
      width: 22px;
      height: 18px;
      left: 26%;
      top: 28%; }
    .footer__container--social .footer--social li .instagram--icon {
      background-position: -2px -68px;
      width: 25px;
      height: 25px;
      left: 21%;
      top: 19%; }

.footer-main-content {
  background-color: #F6F6F6; }
  .footer-main-content .footer__container {
    max-width: 181rem;
    margin: auto; }
    .footer-main-content .footer__container .footer__container--info {
      padding-top: 2rem; }
      .footer-main-content .footer__container .footer__container--info--contact li {
        line-height: 1.7; }
        .footer-main-content .footer__container .footer__container--info--contact li:not(:last-child) {
          margin-right: 2rem;
          border-right: 2px solid white;
          padding-right: 2rem; }
        .footer-main-content .footer__container .footer__container--info--contact li h1 {
          font-size: 1.4rem;
          color: #065BAA;
          font-weight: lighter;
          text-transform: uppercase; }
        .footer-main-content .footer__container .footer__container--info--contact li p {
          font-size: 1.2rem;
          padding-top: 10px; }
        .footer-main-content .footer__container .footer__container--info--contact li a {
          text-decoration: none;
          color: #4D4D4D;
          font-size: 1.2rem; }
    .footer-main-content .footer__container .footer__container--copyright {
      position: relative;
      text-align: center;
      padding: 2rem 0 1.5rem; }
      .footer-main-content .footer__container .footer__container--copyright p {
        color: #065BAA;
        font-size: 1.2rem; }
      .footer-main-content .footer__container .footer__container--copyright h1 {
        position: absolute;
        right: 0;
        bottom: 2rem;
        font-size: 1.3rem;
        color: #065BAA; }
        .footer-main-content .footer__container .footer__container--copyright h1 a {
          font-weight: bold;
          color: #065BAA; }

.menu {
  width: 0;
  min-height: 100vh;
  background-color: #4D4D4D;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 120;
  overflow-x: hidden;
  transition: all 0.5s; }
  .menu--position {
    width: 40rem; }
  .menu .menu--content {
    padding: 4rem 5rem; }
    .menu .menu--content li {
      padding-bottom: 1rem;
      display: block;
      transition: 0.3s;
      width: 30rem; }
      .menu .menu--content li a {
        color: #FFFFFF;
        font-size: 2.1rem;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.4;
        display: inline-block;
        transition: 0.3s; }
        .menu .menu--content li a:hover {
          color: #FFBC35; }
        .menu .menu--content li a.active {
          color: #FFBC35; }
      .menu .menu--content li .hided--content {
        display: none; }
        .menu .menu--content li .hided--content li a {
          color: #FFFFFF;
          font-size: 1.8rem;
          text-decoration: none;
          display: block;
          text-transform: none; }
          .menu .menu--content li .hided--content li a:hover {
            color: #FFBC35; }

.animated__button:link, .animated__button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: all .3s;
  backface-visibility: hidden;
  position: relative;
  font-size: 1.6rem;
  outline: none;
  height: 4.8rem;
  width: 20rem;
  font-weight: 600; }

.animated__button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #000000; }
  .animated__button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.animated__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2); }

.animated__button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.animated__button--yellow {
  background-color: #FFBC35;
  color: #000000; }
  .animated__button--yellow::after {
    background-color: #FFBC35;
    color: #000000; }

.animated__button--blue {
  background-color: #F6F6F6;
  color: #0071BC;
  border: 2px solid #0071BC; }
  .animated__button--blue:hover {
    background-color: #0071BC;
    color: #FFFFFF; }

.animated__button--blue-1 {
  background-color: #0071BC;
  color: #FFFFFF;
  border: 2px solid #0071BC; }
  .animated__button--blue-1::after {
    background-color: #0071BC;
    color: #FFFFFF; }
  .animated__button--blue-1:hover {
    background-color: #0071BC;
    color: #FFFFFF; }

.animated__button--yellow-small {
  height: 4rem !important;
  margin: auto;
  background-color: #CCCCCC;
  color: white; }
  .animated__button--yellow-small::after {
    background-color: #FFBC35;
    color: #000000; }

.subscription__content--form .input-group {
  width: 90%; }
  .subscription__content--form .input-group .input-group-prepend span {
    width: 4rem;
    height: 4.8rem;
    justify-content: center;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0; }
    .subscription__content--form .input-group .input-group-prepend span img {
      width: 90%; }
  .subscription__content--form .input-group .form-control:focus {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    outline: 0;
    box-shadow: none; }
  .subscription__content--form .input-group input {
    height: 4.8rem;
    margin-right: 4rem;
    border: 1px solid #FFFFFF;
    font-size: 1.6rem; }

.menu--form {
  margin: 10rem auto 0; }
  .menu--form .input-group {
    margin-left: 4rem;
    width: 32rem; }
    .menu--form .input-group input {
      height: 5rem;
      border-radius: 30px;
      border: 1px solid #FFFFFF;
      font-size: 1.6rem;
      padding-left: 2rem; }
    .menu--form .input-group .input-group-append .input-group-text {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 1px solid #FFFFFF;
      background-color: #FFFFFF;
      width: 4rem;
      padding: 0; }
    .menu--form .input-group .form-control:focus {
      color: #495057;
      background-color: #FFFFFF;
      border-color: #FFFFFF;
      outline: 0;
      box-shadow: none; }

.ask__minister--form .input-group .input-group-text {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-right: none; }

.ask__minister--form .input-group input {
  border: 1px solid #CCCCCC;
  height: 5.3rem;
  border-left: none; }
  .ask__minister--form .input-group input:focus {
    border-color: #CCCCCC;
    outline: 0;
    box-shadow: none; }

.ask__minister--form textarea {
  resize: none;
  height: 28.4rem; }
  .ask__minister--form textarea:focus {
    border-color: #CCCCCC;
    outline: 0;
    box-shadow: none; }

.secondary__cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: "";
  height: 42rem; }
  .secondary__cover--content {
    max-width: 130rem;
    margin: auto; }
    .secondary__cover--content h1 {
      font-size: 8rem;
      color: #000000;
      text-transform: uppercase;
      width: 60rem; }
  .secondary__cover--info {
    max-width: 130rem;
    margin: 50px auto 0; }
    .secondary__cover--info h1 {
      font-size: 2.5rem;
      color: #000000;
      text-transform: uppercase;
      width: 4.12rem; }

.language .select2-container {
  width: 9.5rem !important;
  outline: none !important;
  font-size: 1.2rem; }

.language .select2-container--default .select2-selection--single .select2-selection__rendered {
  text-transform: uppercase; }

.select2-dropdown {
  border: 1px solid transparent !important; }

.language .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: none !important;
  outline: none !important; }

.menu__language {
  position: absolute;
  right: 0;
  top: 2.1rem; }
  .menu__language .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none !important;
    outline: none !important; }
  .menu__language .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #FFBC35;
    line-height: 28px; }

.select2-results__option {
  font-size: 1.2rem; }

.slick-dots {
  bottom: 40px; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #FFBC35; }

.slick-dots li button:before {
  font-size: 2.7rem;
  opacity: 1;
  color: #FFFFFF; }

.slick-dots li {
  margin: 0 1.1rem; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.news-cont-prev {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-light-right.png");
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
  right: -5rem;
  bottom: 50%; }
  .news-cont-prev:hover {
    background-image: url("../img/arrow-bold-right.png"); }

.news-cont-next {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-light-left.png");
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
  left: -7rem;
  bottom: 50%; }
  .news-cont-next:hover {
    background-image: url("../img/arrow-bold-left.png"); }

.info__platform-prev {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-light-right.png");
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
  right: -5rem;
  bottom: 30%; }
  .info__platform-prev:hover {
    background-image: url("../img/arrow-bold-right.png"); }

.info__platform-next {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-light-left.png");
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
  left: -7rem;
  bottom: 30%; }
  .info__platform-next:hover {
    background-image: url("../img/arrow-bold-left.png"); }

.videos__background-prev {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-light-right.png");
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
  right: -5rem;
  bottom: 30%; }
  .videos__background-prev:hover {
    background-image: url("../img/arrow-bold-right.png"); }

.videos__background-next {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-light-left.png");
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  height: 5rem;
  width: 1.7rem;
  left: -7rem;
  bottom: 30%; }
  .videos__background-next:hover {
    background-image: url("../img/arrow-bold-left.png"); }

.empty-div {
  height: 10rem; }

.main__cover--item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: "";
  height: 80rem;
  width: 100%;
  position: relative;
  outline: none; }
  .main__cover--item-container {
    max-width: 130rem;
    margin: 17.4rem auto 0; }
    .main__cover--item-container-cont {
      max-width: 60rem; }
      .main__cover--item-container-cont h2 {
        font-size: 4.2rem;
        color: #FFFFFF;
        font-weight: 600; }
        .main__cover--item-container-cont h2 span {
          color: #FFBC35; }
      .main__cover--item-container-cont p {
        font-size: 2.5rem;
        color: #FFFFFF;
        display: -webkit-box;
        margin: 2.3rem auto;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        height: 13.9rem; }

.news__background {
  background-color: #F6F6F6;
  padding-top: 5rem;
  padding-bottom: 2rem; }
  .news__background .news__content {
    max-width: 130rem;
    position: relative; }
    .news__background .news__content--header {
      font-size: 5rem; }
    .news__background .news__content--slider .news__content--items {
      display: flex;
      outline: none;
      padding-bottom: 7rem; }
      .news__background .news__content--slider .news__content--items .news__info {
        width: 49%; }
        .news__background .news__content--slider .news__content--items .news__info span {
          font-size: 2rem;
          text-transform: capitalize;
          color: #666666;
          padding-bottom: 3rem;
          display: inline-block;
          position: relative;
          padding-left: 3rem; }
          .news__background .news__content--slider .news__content--items .news__info span:before {
            content: "";
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/calendar-icons.png");
            width: 2rem;
            height: 2rem;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 2px; }
        .news__background .news__content--slider .news__content--items .news__info h1 {
          font-size: 2.7rem;
          font-weight: lighter;
          color: #4D4D4D;
          line-height: 1.6;
          padding-bottom: 1rem;
          text-transform: uppercase; }
        .news__background .news__content--slider .news__content--items .news__info p {
          color: #4D4D4D;
          font-size: 1.6rem;
          padding-bottom: 4rem; }
      .news__background .news__content--slider .news__content--items .news__image {
        width: 49%;
        order: 2; }
        .news__background .news__content--slider .news__content--items .news__image--background {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: "";
          width: 78.6%;
          height: 33.5rem;
          text-align: right;
          float: right; }

.info__platform {
  padding: calculateRem-16(50px) 0; }
  .info__platform--cont {
    max-width: 130rem;
    position: relative; }
    .info__platform--cont--header h1 {
      text-transform: uppercase;
      font-size: 5rem;
      font-weight: lighter;
      color: #4D4D4D;
      padding-bottom: calculateRem-16(10px); }
    .info__platform--cont--slider--items {
      border: 3px solid #E6E6E6;
      width: 300px;
      display: inline-block;
      outline: none;
      cursor: pointer;
      transition: .5s;
      margin: 0 calculateRem-16(10px); }
      .info__platform--cont--slider--items:not(:last-child) {
        padding: calculateRem-16(30px); }
      .info__platform--cont--slider--items:hover {
        border-color: #FFBC35; }
        .info__platform--cont--slider--items:hover .animated__button--yellow-small {
          background-color: #FFBC35;
          color: #000000;
          transition: all .5s; }
      .info__platform--cont--slider--items h1 {
        font-size: calculateRem-16(21px);
        color: #4D4D4D;
        font-weight: 600;
        padding: calculateRem-16(30px) 0 calculateRem-16(20px); }
      .info__platform--cont--slider--items p {
        font-size: 1.6rem;
        color: #4D4D4D;
        padding-bottom: calculateRem-16(30px); }

.videos__background {
  background-color: #F6F6F6;
  padding-top: calculateRem-16(50px);
  padding-bottom: calculateRem-16(100px); }
  .videos__background--content {
    max-width: 130rem;
    position: relative; }
    .videos__background--content h1 {
      font-size: 5rem;
      color: #4D4D4D;
      font-weight: lighter; }
    .videos__background--content--slider .video__items {
      outline: none;
      display: flex; }
      .videos__background--content--slider .video__items--text {
        width: 44%; }
        .videos__background--content--slider .video__items--text span {
          font-size: calculateRem-16(20px);
          text-transform: capitalize;
          color: #666666;
          padding-bottom: calculateRem-16(30px);
          display: inline-block;
          position: relative;
          padding-left: calculateRem-16(30px); }
          .videos__background--content--slider .video__items--text span:before {
            content: "";
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/calendar-icons.png");
            width: calculateRem-16(20px);
            height: calculateRem-16(20px);
            display: inline-block;
            position: absolute;
            left: 0;
            top: 2px; }
        .videos__background--content--slider .video__items--text h1 {
          font-size: calculateRem-16(27px);
          font-weight: lighter;
          color: #4D4D4D;
          line-height: 1.6;
          padding-bottom: calculateRem-16(10px);
          text-transform: uppercase; }
      .videos__background--content--slider .video__items--video {
        width: 54%;
        order: 2; }
        .videos__background--content--slider .video__items--video .video {
          float: right; }

.partners {
  padding: calculateRem-16(50px) 0; }
  .partners--cont {
    max-width: 130rem;
    margin: auto; }
    .partners--cont--slider .partners--cont--item {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: "";
      height: calculateRem-16(160px);
      width: calculateRem-16(300px);
      border: 3px solid #E6E6E6;
      margin-right: calculateRem-16(10px);
      margin-left: calculateRem-16(10px);
      display: block;
      text-decoration: none;
      transition: .2s;
      outline: none; }
      .partners--cont--slider .partners--cont--item:hover {
        border-color: #FFBC35; }

.message__container {
  max-width: 130rem;
  margin: auto;
  padding: 6rem 0; }
  .message__container--info {
    padding: 1rem 0; }
    .message__container--info--header h1 {
      font-size: 2.6rem;
      color: #4D4D4D;
      text-transform: uppercase;
      padding-bottom: 2rem; }
    .message__container--info--text p {
      font-size: 1.8rem; }
  .message__container--author p {
    font-size: 1.8rem;
    color: #0071BC; }

.biography__container ul li .biography__all--info {
  max-width: 130rem;
  margin: auto;
  padding: 2rem 0; }
  .biography__container ul li .biography__all--info .biography__header {
    border-bottom: 1px solid #FFBC35;
    padding: 2rem 0; }
    .biography__container ul li .biography__all--info .biography__header h1 {
      font-size: 4.8rem;
      color: #4D4D4D;
      text-transform: uppercase; }
  .biography__container ul li .biography__all--info .biography__content {
    padding: 1.6rem 0; }
    .biography__container ul li .biography__all--info .biography__content--year {
      width: 34%; }
      .biography__container ul li .biography__all--info .biography__content--year span {
        font-size: 4.8rem;
        color: #4D4D4D; }
    .biography__container ul li .biography__all--info .biography__content--info {
      width: 92%; }
      .biography__container ul li .biography__all--info .biography__content--info li {
        border-bottom: 1px solid #CCCCCC;
        padding: 1rem 0; }
        .biography__container ul li .biography__all--info .biography__content--info li a {
          text-decoration: none;
          display: inline-block;
          font-size: 1.8rem;
          color: #4D4D4D; }
    .biography__container ul li .biography__all--info .biography__content--image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: "";
      height: 20.7rem;
      width: 36.5rem; }
    .biography__container ul li .biography__all--info .biography__content--text {
      width: 92%;
      font-size: 1.8rem;
      color: #4D4D4D;
      padding: 0 50px; }

.biography__container ul li:nth-child(even) {
  background-color: #F6F6F6; }
  .biography__container ul li:nth-child(even) .biography__header {
    border-bottom: 1px solid #0071BC; }

.ask__minister {
  max-width: 94.4rem;
  margin: 10rem auto;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 28px #e9e9e9; }
  .ask__minister--content {
    max-width: 60rem;
    margin: auto;
    padding: 5.1rem 0 7.5rem; }
    .ask__minister--content h1 {
      font-size: 4.8rem;
      color: #4D4D4D;
      text-align: center;
      max-width: 50rem;
      margin: auto;
      padding-bottom: 4.1rem; }
    .ask__minister--content .ask__minister--btns {
      margin-top: 4.5rem; }
      .ask__minister--content .ask__minister--btns a:not(:last-child) {
        margin-right: 1rem; }

.burger__menu {
  cursor: pointer;
  padding-right: 5.6rem; }
  .burger__menu--second {
    position: absolute;
    top: 60px;
    right: 40px;
    padding-right: 0; }
    .burger__menu--second .burger__menu--lines {
      background-color: #FFFFFF; }
  .burger__menu--lines {
    background: #4D4D4D;
    width: 2rem;
    height: 2px;
    margin: .5rem 0;
    display: block;
    transition: 0.2s;
    border-radius: 1rem; }
  .burger__menu .rotate-1 {
    transform: rotate(45deg);
    margin-top: 1rem;
    transition: 0.3s; }
  .burger__menu .rotate-2 {
    transform: rotate(-45deg);
    margin-top: -7px;
    transition: 0.3s; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #4D4D4D;
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }
