.subscription__content--form {
  .input-group {

    width: 90%;

    .input-group-prepend {

      span {
        width: 4rem;
        height: 4.8rem;
        justify-content: center;
        @include border($color-white);
        background-color: $color-white;
        border-radius: 0;

        img {
          width: 90%;
        }

      }
    }
    .form-control:focus {
      color: #495057;
      background-color: $color-white;
      border-color: $color-white;
      outline: 0;
      box-shadow: none;
    }

    input {
      height: 4.8rem;
      margin-right: 4rem;
      @include border($color-white);
      font-size: $main-fz;
    }
  }
}
.menu--form {

  margin: 10rem auto 0;

  .input-group {
    margin-left: 4rem;
    width: 32rem;

    input {
      height: 5rem;
      border-radius: 30px;
      @include border($color-white);
      font-size: $main-fz;
      padding-left: 2rem;
    }

    .input-group-append {

      .input-group-text {

        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        @include border($color-white);
        background-color: $color-white;
        width: 4rem;
        padding: 0;
      }
    }

    .form-control:focus {
      color: #495057;
      background-color: $color-white;
      border-color: $color-white;
      outline: 0;
      box-shadow: none;
    }
  }
}
.ask__minister--form {

  .input-group {

    .input-group-text {
      background-color: $color-white;
      @include border($color-gray);
      border-right: none;
    }
    input {
      @include border($color-gray);
      height: 5.3rem;
      border-left: none;

      &:focus {
        border-color: $color-gray;
        outline: 0;
        box-shadow: none;
      }
    }
  }

  textarea {
    resize: none;
    height: 28.4rem;
    &:focus {
      border-color: $color-gray;
      outline: 0;
      box-shadow: none;

    }
  }
}
.contact__us--form {

  .input-group {

    .input-group-text {
      background-color: $color-white;
      @include border($color-gray);
      border-right: none;
    }
    input {
      @include border($color-gray);
      height: 5.3rem;
      border-left: none;font-size: 2.6rem;

      &:focus {
        border-color: $color-gray;
        outline: 0;
        box-shadow: none;
      }
    }
  }

  textarea {
    resize: none;
    height: 28.4rem;
    font-size: 2.6rem;
    &:focus {
      border-color: $color-gray;
      outline: 0;
      box-shadow: none;

    }
  }
}


