.secondary__cover {
  @include backimg();
  height: 42rem;

  &--content {
    max-width: $main-content-width;
    margin: auto;
    h1 {
      font-size: 8rem;
      color: $color-black;
      text-transform: uppercase;
      width: 60rem;
    }
  }

  &--info {
    max-width: $main-content-width;
    margin: 50px auto 0;

    h1 {
      font-size: 2.5rem;
      color: $color-black;
      text-transform: uppercase;
      width: 4.12rem;
    }
  }

}