.secondary__cover {
  @include backimg();
  height: calculateRem-16(420px);

  &--content {
    max-width: $main-content-width;
    margin: auto;
    h1 {
      font-size: calculateRem-16(80px);
      color: $color-black;
      text-transform: uppercase;
      width: calculateRem-16(600px);
    }
  }

  &--info {
    max-width: $main-content-width;
    margin: 50px auto 0;

    h1 {
      font-size: calculateRem-16(25px);
      color: $color-black;
      text-transform: uppercase;
      width: calculateRem-16(412px);
    }
  }

}