.footer {
  background-color: $section-back-color;
  &__container {
    max-width: calculateRem-16(1810px);
    margin: auto;

    &--social {
      position: relative;
      padding-top: calculateRem-16(20px);

      //.footer--logo {
      //  padding-top: 2.5rem;
      //
      //  li {
      //
      //    a {
      //      color: $color-black;
      //      font-size: 1.2rem;
      //      font-weight: $fw-semiBold;
      //      display: inline-block;
      //      padding-left: 2rem;
      //      text-decoration: none;
      //    }
      //    &:first-child {
      //
      //      a {
      //        @include backimg(url("../img/moh-logo.png"));
      //        width: 5.5rem;
      //        height: 5.3rem;
      //      }
      //    }
      //  }
      //}

      .footer--social {

        li {
          &:not(:last-child) {
            margin-right: calculateRem-16(30px);
          }
          a {
            display: inline-block;
            background: url('../img/social-icons.png') no-repeat;
            overflow: hidden;
            text-indent: -9999px;
            text-align: left;
          }

          .facebook--icon {
            background-position: -2px -234px;
            width: 12px;
            height: 23px;

            &:hover {
              background-position: -16px -234px;
            }
          }
          .youtube--icon {
            background-position: -2px -134px;
            width: 23px;
            height: 27px;

            &:hover {
              background-position: -2px -163px;
            }
          }
          .linkedin--icon {
            background-position: -2px -192px;
            width: 19px;
            height: 19px;

            &:hover {
              background-position: -2px -213px;
            }
          }
          .google--icon {
            background-position: -2px -0px;
            width: 28px;
            height: 19px;

            &:hover {
              background-position: -2px -21px;
            }
          }
          .twitter--icon {
            background-position: -2px -92px;
            width: 23px;
            height: 19px;

            &:hover {
              background-position: -2px -113px;
            }
          }
          .instagram--icon {
            background-position: -2px -42px;
            width: 23px;
            height: 23px;

            &:hover {
              background-position: -2px -67px;
            }
          }
        }

      }
    }

    .footer__container--info {
      padding-top: calculateRem-16(20px);

      &--contact {

        li {
          line-height: 1.7;

          &:not(:last-child) {
            margin-right: calculateRem-16(20px);
            border-right: 1px solid rgba($color-black, 0.1);
            padding-right: calculateRem-16(20px);
          }

          h1 {
            font-size: calculateRem-16(12px);
            color: $main-color;
            font-weight: $fw-semiBold;
          }

          p {
            font-size: calculateRem-16(12px);

          }

          a {
            text-decoration: none;
            color: $main-color;
            font-size: calculateRem-16(12px);
          }
        }
      }
    }

    .footer__container--copyright {
      position: relative;
      text-align: center;
      padding: calculateRem-16(20px) 0 calculateRem-16(15px);

      p {
        color: $main-color;
        font-size: calculateRem-16(12px);
      }

      h1 {
        position: absolute;
        right: 0;
        bottom: calculateRem-16(20px);
        font-size: calculateRem-16(13px);
        color: $main-color;

        a {
          font-weight: $fw-bold;
          color: $main-color;
        }
      }
    }
  }
}