.header {
  height: calculateRem-16(100px);
  padding-top: calculateRem-16(18px);
  box-shadow: 0 1px 20px rgba($color-black, .4);
  width: 100%;
  background-color: $color-white;
  position: fixed;
  z-index: 2;
}

.header__logo {

  ul {
    padding-left: calculateRem-16(55px);
    li {

      &:last-child {
        @media only screen and(max-width: 1200px) {
          display: none;
        }
      }
      a {
        color: $color-black;
        font-size: $main-fz;
        font-weight: $fw-semiBold;
        display: inline-block;
        padding-left: calculateRem-16(20px);
        text-decoration: none;
      }
      &:first-child {

        a {
          @include backimg(url("../img/moh-logo.png"));
          width: calculateRem-16(68px);
          height: calculateRem-16(65px);
        }
      }
    }
  }
}

.language {
  padding-right: 50px;

}

.header__navigation {
  margin-right: calculateRem-16(70px);

  li {
    padding: calculateRem-16(18px);

    a {
      text-decoration: $td-none;
      color: $color-hex-gray;
      font-size: calculateRem-16(14px);
      font-weight: $fw-semiBold;
      text-transform: uppercase;
      transition: 0.2s;

      //@media only screen and (max-width: 1400px) {
      //  font-size: 11px;
      //}
      //@media only screen and (max-width: 1200px) {
      //  font-size: 14px;
      //}

      &:hover {
        color: $main-btn-color;

      }
    }
  }
}

