.menu {
  width: 0;
  min-height: 100vh;
  background-color: $main-color;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 120;
  overflow-x: hidden;
  transition:all 0.5s;

  &--position {
    width: 40rem;
  }

  .menu--content {
  padding: 4rem 5rem;

    li {
      padding-bottom: 1rem;
      display: block;
      transition: 0.3s;
      width: 30rem;

      a {
        color: $color-white;
        font-size: $main-fz;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.4;
        display: inline-block;
        transition: 0.3s;

        &:hover {
          color: $main-btn-color;
        }

        &.active {
          color: $main-btn-color;
        }
      }
      .hided--content {
          display: none;

        li {

          a {
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 100;
            text-decoration: none;
            display: block;
            text-transform: none;

            &:hover {
              color: $main-btn-color;
            }
          }
        }
      }
    }
  }

  &__social {

    &--icons {

      li {
        position: relative;
        border: 2px solid white;
        width: 36px;
        height: 36px;

        &:not(:last-child) {
          margin-right: 2rem;
        }

        &:hover {
          border-color: $main-btn-color;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;


          &:hover {
            .facebook--icon {
              background-position: -14px -182px;
            }
            .youtube--icon {
              background-position: -2px -130px;
            }
            .linkedin--icon {
              background-position: -2px -164px;
            }
            .google--icon {
              background-position: -2px -18px;
            }
            .twitter--icon {
              background-position: -2px -97px;
            }
            .instagram--icon {
              background-position: -2px -58px;
            }
          }

          i {
            display: inline-block;
            background: url('../img/social-icons-menu.png') no-repeat;
            overflow: hidden;
            text-indent: -9999px;
            text-align: left;
            position: absolute;
          }

        }
        .facebook--icon {
          background-position: -2px -182px;
          width: 10px;
          height: 20px;
          left: 35%;
          top: 23%;
        }

        .youtube--icon {
          background-position: -2px -114px;
          width: 18px;
          height: 14px;
          left: 23%;
          top: 28%;
        }
        .linkedin--icon {
          background-position: -2px -146px;
          width: 17px;
          height: 16px;
          left: 28.5%;
          top: 22%;
        }
        .google--icon {
          background-position: -2px -0px;
          width: 25px;
          height: 16px;
          left: 16%;
          top: 26%;
        }
        .twitter--icon {
          background-position: -2px -80px;
          width: 18px;
          height: 15px;
          left: 26%;
          top: 28%;
        }
        .instagram--icon {
          background-position: -2px -36px;
          width: 21px;
          height: 20px;
          left: 19%;
          top: 19%;
        }
      }

    }
  }

}