.subscription {

  background-color: #4E525B;

  &__content {
    max-width: $main-content-width;
    margin: auto;
    padding: calculateRem-16(50px) 0 calculateRem-16(60px);

    &--header {

      h1 {
        text-transform: uppercase;
        font-size: calculateRem-16(30px);
        font-weight: $fw-lighter;
        color: $color-white;
        padding-bottom: calculateRem-16(10px);
      }
    }

    &--info {

      a {
        color: $color-white;
        font-size: calculateRem-16(15px);
      }
    }
  }
}